{% extends "base.html" %}

{% block body %}

    <h1>Inventory</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Item</th>
            <th>Sell in</th>
            <th>Quality</th>
            <th>Class</th>
        </tr>
        {% for item in inventory %}
        <tr>
            <td>{{ item['id']  }}</td>
            <td>{{ item['name'] }}</td>
            <td>{{ item['sell_in']  }}</td>
            <td>{{ item['quality']  }}</td>
            <td>{{ item['class_object']  }}</td>
        </tr>
        {% endfor %}
    </table>
    <form action="/inventory" method="post">
        <button type="submit">Update</button>
    </form>
    <a href="/"><button type="submit">Go back</button></a>

{% endblock %}
