{% extends "base.html" %}

{% block body %}

    <h1>Inventory</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Item</th>
            <th>Sell in</th>
            <th>Quality</th>
            <th>Class</th>
        </tr>
        {% for item in inventory %}
        <tr>
            <td>{{ item }}</td>
            <td>{{ inventory[item].name }}</td>
            <td>{{ inventory[item].sell_in }}</td>
            <td>{{ inventory[item].quality }}</td>
            <td>{{ inventory[item].class }}</td>
        </tr>
        {% endfor %}
    </table>
    <form action="/inventory" method="post">
        <button type="submit">Update</button>
    </form>
    <form action="/" method="get">
        <button type="submit">Go back</button>
    </form>

{% endblock %}
